@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&family=Rubik:ital,wght@0,300;0,700;1,300&display=swap");

:root {
  --blue: hsl(230, 41%, 21%);
  --blue-dark: #181e3a;
  --pink: #c62786;
  --purple: #572a5f;
  --yellow: #fed417;
  --white: #fff;
  --black: #3d3935;
}

* {
  margin: 0;
}

body {
  background: var(--blue);
  color: var(--white);
  font-family: Rubik, sans-serif;
  font-size: 18px;
}

p {
  line-height: 28px;
}

.wrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.container {
  max-width: 700px;
  margin: 0px auto;
}

.mb-1 {
  margin-bottom: 1rem;
}

a {
  color: var(--white);
}

p {
  margin: 1rem 0;
}

h1 {
  margin: 10px 0;
}

a {
  text-decoration-color: var(--pink);
}

a:hover {
  color: var(--pink);
  text-decoration: none;
}

@media only screen and (min-width: 768px) {
}
