body {
  background: rgb(198, 39, 134);
  background: linear-gradient(
    0deg,
    rgba(198, 39, 134, 1) 0%,
    rgba(31, 38, 74, 1) 100%
  );
  color: #fed418;
}

.wrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
}
