.hero {
  display: flex;
  flex-direction: column;
}

.hero img {
  width: 90%;
}

.tagline {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 2rem;
  text-align: right;
  font-weight: 700;
}

@media only screen and (min-width: 768px) {
  .hero {
    flex-direction: row;
  }

  .hero img {
    width: 50%;
  }

  .tagline {
    width: 50%;
  }
}
