.hero {
  display: flex;
  flex-direction: column;
}

.hero {
  background-repeat: no-repeat;
  background-size: contain;
}

.tagline {
  text-align: right;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 250px;
  padding: 1rem;
  -webkit-text-stroke: 2px var(--blue);
}

@media only screen and (min-width: 768px) {
  .tagline {
    max-width: 1200px;
    height: 500px;
    margin: 0 auto;
  }

  .tagline h1 {
    font-size: 100px;
  }

  .tagline h2 {
    font-size: 30px;
  }
}

@media only screen and (min-width: 1250px) {
  .tagline {
    width: 1200px;
  }
}
