.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgb(198, 39, 134);
  background: linear-gradient(
    0deg,
    rgba(198, 39, 134, 1) 0%,
    rgba(31, 38, 74, 1) 100%
  );
  svg {
    width: 100%;
    height: 10vw;
  }
}

.logo {
  width: 50%;
  margin: 40px;
}

.portraits {
  height: 50%;
}

.portrait {
  width: 20%;
}
