footer {
  background: #c62786;
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social {
  padding: 20px;
}

.social img {
  width: 50px;
}

.icon {
  height: 40px;
  fill: var(--white);
}
